<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
            <header class="header"> <!-- Etiqueta para ofrecerle al browser info de que es un encabezado -->
                <nav class="nav"> <!-- Etiqueta para ilustrarle al browser que posiblemente es un menu -->
                    <a th:href="@{/}" class="logo nav-link">TechShop</a>
                    
                    <ul class="nav-menu">
                        
                        <li class="nav-menu-item"><a href="ejemplo9.html"class="nav-menu-link nav-link">&LeftTriangleBar;</a></li>
                        <li class="nav-menu-item"><a href="ejemplo2.html"class="nav-menu-link nav-link">&RightTriangleBar;</a></li>
                        <li class="nav-menu-item"><a href="audios.html"class="nav-menu-link nav-link">Audios</a></li>
                        <li class="nav-menu-item"><a href="videos.html"class="nav-menu-link nav-link">Videos</a></li>
                        <li class="nav-menu-item"><a href="iframes.html"class="nav-menu-link nav-link">IFrames</a></li>
                        <li class="nav-menu-item"><a href="formulario.html"class="nav-menu-link nav-link">Form</a></li>
                        
                    </ul>

                </nav>
            </header>
        
        <footer th:fragment="footer">
            <p>&COPY; Derechos Reservados 2022</p>
            
            
        </footer>
    </body>
</html>
